<html>
<head>
  <title>LOGIN TO VOTIVE</title>
<link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
</head>
<body>
  <div id="container">
    <div id="form">
      <h1>VOTIVE<div id="sprite">
          <img src="/assets/images/votive.svg" width="100" height="100" id="candle">
        </div></h1>
      <form action="/login" method="post">
        <input type="text" placeholder="Username" name="username" autofocus required /><br />
        <input type="password" placeholder="Password" name="password" required /><br />
        <%if(warning===true){%><span id="warning">Invalid. Try again.</span><%}%>
        <input type="submit"><button id="submit">COME IN</button></input>
      </form>
      <a href="/register">register</a><br />
      </div>
    </div>
    <% include ../static/includes/demofooter.ejs %>
</body>
</html>
