<html>
<head>
  <title>VOTIVE</title>
<link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
</head>
<body>
  <div id="container">
    <div id="form">
          <a href="/"><h1>VOTIVE</h1></a>
      <span id="message">
        <h2><%=data.header%></h2>
        <%=data.message%><p /></span>
    </div>
    <% include ../static/includes/demofooter.ejs %>
  </div>
</body>
</html>
