<html>
<head>
  <title>GET OUT THE VOTIVE</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
</head>
<body>
  <div id="container">
    <div id="form">
      <h1>VOTIVE</h1>
      <%if(warning===true){%><span id="warning">Invalid. Try again.</span><%}%>
<form action="/register" method="post">
  <input type="text" placeholder="Username" name="username" autofocus />
  <input type="password" placeholder="Password" name="password" required />
  <input type="submit"><button id="submit">JOIN US</button></input>
</form>
  <a href="/login">log in</a></div>
</div>
</body>
</html>
