body {
  background-color: #E8EAF6;
}

div#nav {
  display: flex;
  margin: auto;
  flex-flow: row nowrap;
  padding: 40px 0px;
  margin-bottom: 20px;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  background-color: #002884;
  margin: 0px;
  font-family: 'Courier New', monospace;
  font-weight: 100;
  font-size: 20px;
  color: #000000;
  box-shadow: 0 7px 10px rgba(26,35,126,0.25), 0 10px 10px rgba(26,35,126,0.22);
}

div#nav a {
  color: #FFFFFF;
  font-family: 'Helvetica Neue';
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

div#nav a:hover {
  color: #CCCCCC;
}

h1 {
  font: 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-family: 'Helvetica Neue', monospace;
  font-weight: 100;
  font-size: 24px;
  padding: 0px;
  color: #FFFFFF;
}

button.nav {
  width: auto;
  height: 40px;
  padding: 10px;
  font-size: 0.7em;
  letter-spacing: 0.06em;
  font-family: 'Courier New', monospace;
  outline: none;
  border: 1px solid gold;
}

button.nav:hover {
  background-color: tomato;
  border: none;
  outline: none;
}

button#chartToggle {
  width: 200px;
  height: auto;
  padding: 2px;
  margin: 2px;
  border: 2px solid black;
  outline: none;
  font-size: 0.4em;
  background-color: rgba(0,0,153,0.4);
  color: #FFFFFF;
}

div#toggleButtons {
  padding: 0px 0px 20px 0px;
}

span#navElement {
  flex: 0 2 auto;
  display: inline;
  align-self: baseline;
  color: black;
  padding: 0px 4px 0px 4px;
}

div#pageContainer {
  width: 740px;
  height: auto;
  margin: auto;
  padding: 0px;
  font-family: 'Helvetica Neue', monospace;
  font-weight: 100;
  font-size: 24px;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  display: -webkit-flex;
}

div#pollList {
  width: auto;
  height: auto;
  flex: 0 1 auto;
  justify-content: center;
}

div#infoHead {
  flex: 0 1 auto;
  width: auto;
  height: auto;
  padding: 0px 10px 0px 0px;
}

div.selectStyle {
  padding: 0;
  margin: auto;
  width: 300px;
  overflow: hidden;
  font-size: 40px;
}

div.selectStyle select {
    padding-left: 30px;
    height: 30px;
    width: 300px;
    font-size: 16px;
    border: none;
    box-shadow: none;
    background: #fff;
}

div.selectStyle select:focus {
    outline: none;
}

div#rightBar {
  max-width: 500px;
  background-color: #C5CAE9;
  padding: 0px 20px;
  flex: 0 1 auto;
  float: right;
  word-wrap: break-word;
  border: 1px solid black;
}

div#formContainer {
  background-color: #757ce8;
  width: auto;
  padding: 20px 0px;
  height: auto;
  margin: auto;
  flex: 0 1 auto;
  border: 1px solid black;
  text-align: center;
}

div#choiceContainer {
  background-color: #E8EAF6;
  width: auto;
  padding: 30px 0px 10px 0px;
  height: auto;
  margin: auto;
  flex: 0 1 auto;
  border: 1px solid black;
  text-align: center;
}

div#canvas{
  width: auto;
  background-color: #E8EAF6;
  padding: 10px;
  max-width: 700px;
  height: auto;
  margin: auto;
  outline: none;
  border: 1px solid black;
  border-bottom: none;
}

canvas {
  flex: 0 1 auto;
  width: auto;
  max-width: 500px;
  min-width: 50px;
  height: auto;
  max-height: 700px;
  margin: auto;
  outline: none;
}

div#formController{
  flex: 0 1 auto;
  align-self: center;
  width: 100px;
}

input.poll {
  width: 300px;
  height: 40px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  color: black;
  outline: none;
  padding-left: 5px;
  margin: 2px;
}

input[type=number] {
  width: 300px;
}

input:focus {
  border: 1px solid gold;
}

input#s {
  display:none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

/* TODO refactor #vote and #submit to use a class */

button#vote {
  font-family: 'Helvetica Neue', monospace;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  height: auto;
  width: 100px;
  padding: 2px;
  margin: 2px;
  outline: none;
}

button#vote:hover {
  background-color: gold;
  border: none;
  outline: none;
  padding: 2px;
  margin: 2px;
}

button#sub {
  font-family: 'Helvetica Neue', monospace;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  height: auto;
  width: 100px;
  padding: 2px;
  margin: 2px;
  outline: none;
}

button#sub:hover {
  background-color: gold;
  border: none;
  outline: none;
  padding: 2px;
  margin: 2px;
}

span.header  {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  cursor: pointer;
}

span#message {
  font-family: 'Courier New', monospace;
  font-size: 12px;
  padding: 10px;
  color: white;
  height: auto;
  width: auto;
  background-color: black;
  display: none;
}

span#delete {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  display: inline;
  padding: 2px;
  margin: 2px;
  color: white;
  height: auto;
  width: auto;
  vertical-align: middle;
}

table a {
  color: rgba(185, 246, 202, 1);
  outline: none;
}

table a:hover {
  color: rgba(105, 240, 174, 1);
}

table#pollList {
  background-color: #757ce8;
  color: #FFFFFF;
  margin: auto;
}

td {
  padding: 10px;
  border: 1px solid black;
}

thead {
    background-color: #C5CAE9;
    color: #000000;
}

div#container {
  font-family: 'Helvetica Neue', monospace;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  padding: 20px;
  border: 2px solid silver;
  background-color: #757ce8;
  color: rgba(185, 246, 202, 1);
  display: flex;
  width: 600px;
  margin: auto;
  justify-content: center;
  text-align: center;
  -webkit-box-shadow: 2px 2px 7px 1px rgba(165, 214, 167, 1);
  -moz-box-shadow: 2px 2px 7px 1px rgba(165, 214, 167, 1);
  box-shadow: 2px 2px 7px 1px rgba(165, 214, 167, 1);
}

div#form {
  flex: 0 1 auto;
  padding: 10px;
  margin: auto;
  justify-content: center;
}

a {
  color: rgba(255, 61, 0, 1);
  outline: none;
}

a:hover {
  color: rgba(255, 158, 128, 1);
}
